stages:
  - compile
  - deploy

build_bin:
  stage: compile
  image: rust:1.64.0-buster
  tags:
    - private
  artifacts:
    paths:
      - target/release/enc_dec_2
  cache:
    key: bins
    untracked: true
    when: 'always'
  script:
    - cargo build --release

deploy_image:
  stage: deploy
  tags:
    - docker
  dependencies:
    - build_bin
  script:
    - docker build -t registry.anspar.io/enc_dec_2:latest .
    - docker login -u "$DOCKER_L" -p "$DOCKER_P" registry.anspar.io
    - docker push registry.anspar.io/enc_dec_2:latest